<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.fileSlug }}.sys.mjs | Gecko Module</title>

    <link href="https://cdn.jsdelivr.net/npm/prism-themes@1.9.0/themes/prism-nord.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ baseUrl }}/css/index.css">
  </head>
  <body>
    <div class="container">
      {{ content }}
    </div>
  </body>
</html>