body {
  font-family: sans-serif;
  margin: 0;
}

h1 {
  margin-top: 0;
  letter-spacing: -0.1rem;
}

h1.subtitled {
  margin-bottom: 0.125rem;
}

.container {
  overflow: hidden;
  max-width: 48rem;
  margin: auto;
  padding: 0.5rem;
}
